@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/IL1H0KQY9W.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
#MainContent:before {
    MainContent:"";
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding-bottom: 10px;

}

#MainContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 80%;
    margin: auto auto;
    padding: 40px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 800;


}

    #MainContent .title {
        font-family: "Open Sans";
        text-align: center;
        padding-bottom: 30px;
    }



#results {
    border: none;
}
#search {
    color:white;
    border: none;
    background-color:rgba(10, 10, 10, 0.5);
    height: 45%;
    width: 100%;
    margin-top: 120px;

}
#from {
    float:left;
    width:50%;
}

#to {
    float:left;
    width:50%;
}

#hae {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;


}


#getDepCity {
    margin-left: 20px;
    height: 50px;
    width: 400px;
    float: right;
    margin-right: 10px;
    margin-top: 70px;
    font-size: 16px;
    border-radius: 10px;
}

#getArrCity {
    margin-left: 10px;
    height: 50px;
    width: 400px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 16px;
    border-radius: 10px;
}

nav {
    position:fixed;
    width: 75%;
    margin-left: 12%;
    margin-right: 0%;
    border-bottom: 1px solid whitesmoke;
}

img {
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 50px;
    font-size: 45px;
    color: darkslateblue;
}

.login_btn {
   background-color: white;
}

.stops {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}

.trips > div:first-child {
    display: none;
}

.trips {
    background-color: black;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 5px;
}

ul {
    list-style-type: none;
    float: right;
    margin-right: 0px;

}

a:link {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans";
    border-radius: 4px;
}

#link1 {
    float: right;
}

#link2 {
    float:left;
    display: none;
}

#results {
    font-family: "Open Sans";
    text-align: left;
    font-size: 17px;
}

#setTime {
    margin-top: 0px;
}

#loginbutton {
    width: 150px;
    height: 35px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
}

/*Tästä alaspäin sisäänkirjautumislaatikon stylet*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 480px; /* Full width */
    height: 650px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(10, 10, 10, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color:rgba(10, 10, 10, 0.5);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 600px;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-smoothing: antialiased;
    font-weight: 600;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal .title1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.modal .title2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 10px;
}

#rgstr_btn {
    color:white;
    background-color:green;
    cursor: pointer;
}

#login_btn {
    color:white;
    background-color:green;
    cursor: pointer;
}

.modal button {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 0px;
    background-color: #66A756;
    color: White;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}
.modal .already {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

.modal input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: Black;
    text-align: center;
    line-height: 20px;
}

.modal input {
    width: 90%;
    font-size: 1.2rem;
    font-family: "Open Sans";
    margin: 10px 0px;
    border: none;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.modal input[type=checkbox] {
    display: none;
}
.modal label {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    margin-right: 10px;
    top: 5px;
}
.modal label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

